<?xml version='1.0' encoding='utf-8'?>
<widget id="com.testimeweb.testi" version="1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <n>WebApk5</n>
  <description>Built with WebApp5</description>
  <content src="index.html"/>
  <preference name="android-minSdkVersion" value="26"/>
  <preference name="android-targetSdkVersion" value="33"/>
  <preference name="orientation" value="portrait"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <platform name="android"><allow-intent href="market:*"/><icon src="res/icon.png"/></platform>
</widget>